﻿@{
    ViewData["Title"] = "Vaniday";
}
<h2>Index</h2>
<div class="row" ng-app="vanidayApp" ng-controller="VanidayController">
    <div class="form-group">
        <div class="col-md-6 form-group">
            <div class="row form-group">
                <label>Select Room:</label>
                <select class="form-control" ng-model="BulkBooking.RoomType">
                    <option ng-repeat="roomType in roomTypes" value="{{roomType.id}}">{{roomType.roomTypeName}}</option>
                </select>
            </div>
            <div class="row form-group">
                <label>Select Dates: </label>
                <div class="input-group">
                    <input ng-readonly="true" type="text" class="form-control " id="startdate" name="startdate" uib-datepicker-popup="MM/dd/yyyy"
                           ng-model="BulkBooking.BookedFrom" is-open="DatePickerConfig.startDateStatus"
                           show-button-bar="true" data-ng-click="DatePickerConfig.toggleStartDate($event)"
                           placeholder="Select From Date"
                           datepicker-options="DatePickerConfig.options"
                           close-text="Close" />
                    <span class="input-group-addon add-on link_cursor" data-ng-click="DatePickerConfig.toggleStartDate($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div> -
                <div class="input-group">
                    <input ng-readonly="true" type="text" class="form-control " id="enddate" name="enddate" uib-datepicker-popup="MM/dd/yyyy"
                           ng-model="BulkBooking.BookedTo" is-open="DatePickerConfig.endDateStatus"
                           show-button-bar="true" data-ng-click="DatePickerConfig.toggleEndDate($event)"
                           placeholder="Select To Date"
                           datepicker-options="DatePickerConfig.options2"
                           close-text="Close" />
                    <span class="input-group-addon add-on link_cursor" data-ng-click="DatePickerConfig.toggleEndDate($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <label>Change Price To:</label>
                <input class="form-control" id="txtNumber" placeholder="1000" onkeypress="return isNumberKey(event)" type="text" name="price" ng-model="BulkBooking.BookingRate">
            </div>
            <div class="row form-group">
                <label>Change Availability To:</label>
                <select class="form-control" ng-model="BulkBooking.RoomStatus">
                    <option ng-repeat="roomStatus in roomStatuses" value="{{roomStatus.id}}">{{roomStatus.name}}</option>
                </select>
            </div>
            <div class="row form-group">
                <button id="btnSaveBulk" class="btn btn-success" ng-click="SaveBulkBooking();"><i class="glyphicon glyphicon-floppy-save"></i> Save Bulk Booking</button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row form-group">
                <label>Select Room Type:</label>
                <select class="form-control" ng-model="calenderRoomType" ng-change="SelectRoomTypeCalendar()">
                    <option ng-repeat="roomType in roomTypes" value="{{roomType.id}}">{{roomType.roomTypeName}}</option>
                </select>
                <div id="bookingCalendar" calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
            </div>
        </div>
    </div>
</div>
